<div class= "container my-5">
  <h1>Restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%=link_to restaurant.name, restaurant_path(restaurant) %></li> 
      <%= link_to "Delete", restaurant, method: :delete, remote: true %> |
      <%= link_to "Delete", restaurant, method: :delete, remote: true %>
    <% end %>
  </ul>
</div>
